<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="fw-bold">{{ bucketName }}</h4>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a
            class="nav-link"
            [class.active]="selectedTab === 'files'"
            (click)="selectTab('files')"
            (keydown.enter)="selectTab('files')"
            (keydown.space)="selectTab('files')"
            tabindex="0"
            role="button"
            [attr.aria-selected]="selectedTab === 'files'"
            aria-controls="files-tab"
        >
            Files
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            [class.active]="selectedTab === 'details'"
            (click)="selectTab('details')"
            (keydown.enter)="selectTab('details')"
            (keydown.space)="selectTab('details')"
            tabindex="0"
            role="button"
            [attr.aria-selected]="selectedTab === 'details'"
            aria-controls="details-tab"
        >
            Bucket details
        </a>
    </li>
</ul>
