{
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120
}
