.table {
    border: 2px solid black;
    border-collapse: collapse;

    .custom-header {
        tr {
            th {
                background-color: #cccccc;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                padding-top: 0;
                padding-bottom: 0;

                &:first-child {
                    width: 70%;
                }
            }
        }
    }

    .custom-body {
        tr {
            td {
                border: 0;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
            }
            &:hover {
                td {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}
