<div class="container mt-5" *ngIf="bucket">
    <h1>{{ bucket.name }}</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a
                class="nav-link"
                [class.active]="selectedTab === 'files'"
                (click)="selectTab('files')"
                (keydown.enter)="selectTab('files')"
                (keydown.space)="selectTab('files')"
                tabindex="0"
                role="button"
                [attr.aria-selected]="selectedTab === 'files'"
                aria-controls="files-tab"
            >
                Files
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                [class.active]="selectedTab === 'details'"
                (click)="selectTab('details')"
                (keydown.enter)="selectTab('details')"
                (keydown.space)="selectTab('details')"
                tabindex="0"
                role="button"
                [attr.aria-selected]="selectedTab === 'details'"
                aria-controls="details-tab"
            >
                Details
            </a>
        </li>
    </ul>
    <div class="tab-content mt-3">
        <div *ngIf="selectedTab === 'files'" id="files-tab">
            <h3>Files</h3>
            <p>Total Files: {{ getTotalFiles() }}</p>
            <ul class="list-group mb-3">
                <li
                    class="list-group-item"
                    *ngFor="let file of files"
                    (click)="selectFile(file)"
                    [class.active]="file === selectedFile"
                    role="button"
                    tabindex="0"
                    (keydown.enter)="selectFile(file)"
                    (keydown.space)="selectFile(file)"
                >
                    {{ file.name }}
                </li>
            </ul>
            <button class="btn btn-primary" (click)="uploadFile()">Upload Object</button>
            <button class="btn btn-danger ml-2" [disabled]="!selectedFile" (click)="deleteSelectedFile()">
                Delete Selected File
            </button>
        </div>
        <div *ngIf="selectedTab === 'details'" id="details-tab">
            <h3>Details</h3>
            <!-- Add details content here -->
        </div>
    </div>
</div>
